[Desktop Entry]
Name=Gshell
Exec=/usr/share/gshell/gshell
Icon=gshell
Type=Application
Categories=GNOME;GTK;Utility;TerminalEmulator;System;
Keywords=terminal;shell;prompt;command;
